name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - foss4g2022
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      # - run: mkdocs-embed-external-markdown
      # TODO: fix .nojekyll
      # - run: mkdocs gh-deploy --force
