name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - foss4g2022
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      # - run: mkdocs-embed-external-markdown
      # TODO: fix .nojekyll
      # - run: mkdocs gh-deploy --force
